<div class="container">
<section class="breadcrumb-section set-bg" [ngStyle]="{backgroundImage:'url(assets/image/breadcrumb.jpg'}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>Đơn hàng của tôi</h2>
          <div class="breadcrumb__option">
            <a routerLink="/">Trang chủ</a>
            <span>Đơn hàng của tôi</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>



<div class="card" style="margin: 30px;box-shadow: 0 0 10px 5px rgb(214 0 0 / 20%);">
  <p-table #dt [value]="listOrder" [rows]="10" [paginator]="true"
           [globalFilterFields]="['orderCode','firstname','lastname','address','status']"
           [tableStyle]="{'min-width': '75rem'}" [rowHover]="true" dataKey="id"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Lịch sử đơn hàng</h5>
        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                           placeholder="Tìm kiếm"/>`
                </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">Mã HĐ
         <!--<p-sortIcon field="id"></p-sortIcon>-->
        </th>
        <th pSortableColumn="name">Người Đặt

        </th>
        <th pSortableColumn="address">Địa chỉ

        </th>
        <th pSortableColumn="phone">SĐT

        </th>
        <th pSortableColumn="email">Email

        </th>
        <th pSortableColumn="Sale">Giảm Giá

        </th>
        <th pSortableColumn="price">Thành Tiền

        </th>

        <th style="min-width:10rem">Trạng Thái</th>
        <th style="min-width:10rem">Phương Thức</th>

        <th pSortableColumn="note">Ghi chú

        </th>
        <th style="min-width:10rem">Chi Tiết</th>
        <th style="min-width:10rem">Xuất Excel</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
      <tr>
        <td style="width: 4rem">
          {{order.orderCode}}
        </td>
        <td>{{order.firstname}} {{order.lastname}}</td>
        <td>{{order.address}}</td>
        <td>{{order.phone}}</td>
        <td>{{order.email}}</td>
        <td>{{order.sale | currency:'VND'}}</td>
        <td>{{order.totalPrice | currency:'VND'}}</td>
        <td>{{order.orderstatus.name}}</td>
        <td>
          {{ transform1(order.bank) }}
        </td>
        <td>{{order.note}}</td>
        <td>
          <button title="Xem chi tiết đơn hàng" class="w-2rem h-2rem" pButton pRipple icon="pi pi-eye"
                  routerLink="/orderchitiet/{{order.id}}"></button>
          <button *ngIf="order?.orderstatus?.code === ORDER_STATUS.WAITING" title="Huỷ đơn hàng"
                  class="w-2rem h-2rem ml-1 p-button-danger"
                  pButton
                  pRipple icon="pi pi-times"
                  (click)="showDialog(order, 'CANCEL')"></button>
          <button *ngIf="order?.orderstatus?.code === ORDER_STATUS.DELIVERED" title="Xác nhận đã nhận được hàng"
                  class="w-2rem h-2rem ml-1 p-button-success"
                  pButton
                  pRipple icon="pi pi-verified"
                  (click)="showDialog(order, 'CONFIRM')"></button>
          <button *ngIf="order?.orderstatus?.code === ORDER_STATUS.DELIVERED" title="Trả hàng"
                  class="w-2rem h-2rem ml-1 p-button-warning"
                  pButton
                  pRipple icon="pi pi-replay"
                  (click)="showDialogReturn(order)"></button>
        </td>
        <td>
          <button pButton pRipple icon="pi pi-file-excel" class="p-button-rounded p-button-primary mr-2"
                  (click)="downloadExcel(order.id)"></button>
        </td>

      </tr>
    </ng-template>
  </p-table>

  <p-dialog [header]="'Thông tin trả hàng'"
            [(visible)]="visibleDialogReturn"
            [style]="{width :'50vw'}" [modal]="true"
            [transitionOptions]="'.3s'">
    <div class="row">
      <div class="col-lg-12">
        <!--        <input type="text" class="form-control" placeholder="Lý do" [(ngModel)]="returnForm.reason"-->
        <!--               name="reason">-->
        <p-dropdown
          [options]="reasonOptions"
          [(ngModel)]="returnForm.reason"
          placeholder="Chọn lý do"
          name="reason"
          [showClear]="true"
          [filter]="true"
          filterBy="label"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ngx-dropzone
          class="custom-dropzone"
          ngx-dropzone
          [accept]="'image/*'"
          (change)="onUploadImage($event)"
          [multiple]="true">
          <ngx-dropzone-label>
            <div>
              <h5>Hình ảnh</h5>
            </div>
          </ngx-dropzone-label>
          <ngx-dropzone-image-preview
            ngProjectAs="ngx-dropzone-preview"
            *ngFor="let f of fileUploadImage"
            [file]="f"
            [removable]="true"
            (removed)="onRemoveImage(f)">
          </ngx-dropzone-image-preview>
        </ngx-dropzone>
      </div>
    </div>
    <div class="flex justify-content-end mt-3">
      <button label="Xác nhận" icon="pi pi-check" class="mr-2" pButton (click)="handleReturn()"></button>
      <button label="Huỷ" icon="pi pi-times" class="p-button-danger" pButton
              (click)="closeDialogReturn()"></button>
    </div>
  </p-dialog>


  <p-dialog [header]="type === 'CANCEL' ? 'Xác nhận huỷ đơn hàng' : 'Xác nhận đã nhận được đơn hàng'"
            [(visible)]="visibleDialog"
            [style]="{width :'50vw'}" [modal]="true"
            [transitionOptions]="'.3s'">
    <div>
      <span class="ml-2" *ngIf="type === 'CANCEL'">
        Bạn có chắc chắc muốn huỷ đơn hàng <span>{{ order?.orderCode }}</span> không ?
      </span>
      <span class="ml-2" *ngIf="type === 'CONFIRM'">
        Bạn có chắc chắc muốn xác nhận đã nhận được đơn hàng <span>{{ order?.orderCode }}</span> không ?
      </span>
    </div>
    <div class="flex justify-content-end mt-3">
      <button label="Xác nhận" icon="pi pi-check" class="mr-2" pButton (click)="handleConfirmOrCancel()"></button>
      <button label="Huỷ" icon="pi pi-times" class="p-button-danger" pButton
              (click)="closeDialog()"></button>
    </div>
  </p-dialog>
</div>

