/* You can add global styles to this file, and also import other style files */

@import "/src/assets/css/sb-admin-2.css";

@import "/src/assets/css/style.css";

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*.p-toast {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  top: 0;*/
/*  left: 50%;*/
/*  transform: translate(-50%, -50%);*/
/*  position: fixed;*/
/*}*/
/*.p-toast-top-right {*/
/*  top: 65px !important;*/
/*}*/

