<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <!-- <button pButton pRipple label="Thêm sản phẩm" icon="pi pi-plus" class="p-button-warning mr-2" (click)="openNew()"></button>
            <button pButton pRipple label="Xuất Excel" icon="pi pi-plus" class="p-button-success mr-2" (click)="downloadExcel()"></button> -->

        </ng-template>
        
    </p-toolbar>

    <p-table #dt [value]="listProduct" [rows]="5" [paginator]="true" [globalFilterFields]="['name','category.name']" [tableStyle]="{'min-width': '75rem'}" [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Quản lý sản phẩm sale</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Tìm kiếm" />`
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name" style="min-width:15rem">Tên
                    <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th>Ảnh</th>
                <th>Giá Gốc</th>
                <th>Đang giảm</th>
                <th>Trạng Thái</th>
                <th style="min-width:10rem">Tuỳ Chỉnh</th>
                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>
                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td>
                <td>{{product.name}}</td>
                <td><img src="{{'data:image/jpg;base64,' +product.images[0].data}}" [alt]="product.name" width="100" class="shadow-4" /></td>
                <td>{{product.price | currency:'VND'}}</td>
                <td>{{product.pricesale}}%</td>
                <td>
                    <div [ngStyle]="{ 'background-color': product.pricesale > 0 ? '#58E80E' : '#6495ed', 'padding': '5px', 'color': '#fff', 'border-radius': '5px', 'text-align': 'center' }">
                        {{ product.pricesale > 0 ?  'Đã giảm giá' : 'Chưa giảm giá' }}
                    </div>
                </td>
                
                
                
                
                
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary mr-2" (click)="openUpdate(product)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                <!-- In total there are {{products ? products.length : 0 }} products. -->
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="showForm" [style]="{width: '70vw'}" header="Product Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        


        
        <!-- <div class="field col">
            <label for="pricesale">Giá SALE(%)</label>
            <p-inputNumber id="pricesale" [(ngModel)]="productForm.pricesale" [min]="0" [max]="100"></p-inputNumber>
        </div> -->
        <div class="field col">
            <label for="pricesale">Giá SALE(%)</label>
            <select id="pricesale" [(ngModel)]="productForm.pricesale">
                <option value="0">0%</option>
                <option value="10">10%</option>
                <option value="20">20%</option>
                <option value="20">30%</option>
                <option value="20">40%</option>

                <!-- Add more options as needed -->
                <option value="100">100%</option>
            </select>
        </div>
        
           

    </ng-template>

    <ng-template pTemplate="footer">
        <button type="submit" pButton *ngIf="onUpdate" (click)="updateProduct()">Giảm giá</button>
        <button pButton type="button" class="p-button-danger ml-3" (click)="showForm=false">Hủy</button>
    </ng-template>
</p-dialog>


<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>