<div class="container">
<section class="breadcrumb-section set-bg" [ngStyle]="{backgroundImage:'url(assets/image/breadcrumb.jpg'}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Tra Cứu Đơn Hàng</h2>
                    <div class="breadcrumb__option">
                        <a routerLink="/">Trang chủ</a>
                        <span>Tra Cứu Đơn Hàng</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<br>
<div class="container">
    <!-- Search input -->
    <input pInputText type="text" placeholder="Nhập mã hóa đơn..." (input)="searchOrder($event)"  />
</div>

<br>
 <!-- Table -->

 <div class="card" style="margin: 30px;box-shadow: 0 0 10px 5px rgb(214 0 0 / 20%);">
    <p-table #dt [value]="listOrder" [rows]="10" [paginator]="true" [globalFilterFields]="['orderCode','firstname','lastname','address','status']" [tableStyle]="{'min-width': '75rem'}" [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Lịch sử đơn hàng</h5>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">Mã HĐ

                </th>
                <th pSortableColumn="name">Người Đặt

                </th>
                <th pSortableColumn="address">Địa chỉ

                </th>
                <th pSortableColumn="phone">SĐT

                </th>
                <th pSortableColumn="email">Email

                </th>
                <th pSortableColumn="Sale">Giảm Giá

                </th>
                <th pSortableColumn="price">Thành Tiền

                </th>
                <th style="min-width:10rem">Phương Thức</th>
                <th style="min-width:10rem">Trạng Thái</th>
                <th style="min-width:10rem">Chi Tiết</th>
                <th style="min-width:10rem">Xuất Excel</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
            <tr>
                <td style="width: 4rem">
                    {{order.orderCode}}
                </td>
                <td>{{order.firstname}} {{order.lastname}}</td>
                <td>{{order.address}}</td>
                <td>{{order.phone}}</td>
                <td>{{order.email}}</td>
                <td>{{order.sale | currency:'VND'}}</td>
                <td>{{order.totalPrice | currency:'VND'}}</td>
                <td>
                    {{ transform1(order.bank) }}
                </td>
                <td >{{order.orderstatus.name}}</td>

                <td>
                    <button pButton pRipple  icon="pi pi-search" routerLink="/orderchitiet/{{order.id}}"></button>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-file-excel" class="p-button-rounded p-button-primary mr-2" (click)="downloadExcel(order.id)"></button>
                </td>


            </tr>
        </ng-template>
    </p-table>

</div>
<app-bubble/>
