<p-toast></p-toast>
<div class="container">
<section class="breadcrumb-section set-bg" [ngStyle]="{backgroundImage:'url(assets/image/breadcrumb.jpg'}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Liên Hệ</h2>
                    <div class="breadcrumb__option">
                        <a routerLink="/">Trang Chủ</a>
                        <span>Liên Hệ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>

 <!-- Contact Section Begin -->
 <section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <fa-icon [icon]="phone"></fa-icon>
                    <h4>Số điện thoại</h4>
                    <p>+84 {{setchung?.phone}}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <fa-icon [icon]="add"></fa-icon>
                    <h4>Địa chỉ</h4>
                    <p>{{setchung?.diachi}}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <fa-icon [icon]="time"></fa-icon>
                    <h4>Thời gian mở cửa</h4>
                    <p>8:00 am to 17:00 pm</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <fa-icon [icon]="icon_mail_alt"></fa-icon>

                    <h4>Email</h4>
                    <p>{{setchung?.gmail}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->

<!-- Map Begin -->
<div class="container">
<div class="map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4794.185911867838!2d106.66013542602211!3d10.989975956710854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d1be2495c19d%3A0xafd977d94466ffc2!2zxJDhuqFpIEjhu41jIELDrG5oIETGsMahbmc!5e0!3m2!1sen!2s!4v1718241403349!5m2!1sen!2s"

        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    <div class="map-inside">
        <i class="icon_pin"></i>
        <div class="inside-widget">
            <h4>APPLE BDU</h4>
            <ul>
                <li>Phone: {{setchung?.phone}}</li>
                <li>Address: {{setchung?.diachi}}</li>
            </ul>
        </div>
    </div>
</div>
</div>
<!-- Map End -->

<!-- Contact Form Begin -->
<div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form__title">
                    <h2>Để Lại Liên Hệ</h2>
                </div>
            </div>
        </div>
        <form action="#">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <input type="text" placeholder="Nhập tên..." [(ngModel)]="updateForm.name" name="name">
                </div>
                <!-- <div class="col-lg-6 col-md-6">
                    <input type="text" placeholder="Nhập Gmail..." [(ngModel)]="updateForm.gmail" name="gmail">
                </div> -->
                <div class="col-lg-6 col-md-6">
                    <input type="text" placeholder="Nhập Gmail..." [(ngModel)]="updateForm.gmail" name="gmail" (input)="checkForGmail()">
                    <div *ngIf="!checkForGmail()">Vui lòng nhập địa chỉ Gmail hợp lệ (ví dụ: example@gmail.com)</div>
                </div>

                <div class="col-lg-12 text-center">
                    <textarea  [ngxSummernote]="config" [(ngModel)]="updateForm.content" name="content" placeholder="Nội Dung..."></textarea>
                    <button type="submit" class="site-btn" (click)="createContact()">SEND</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Contact Form End -->
