.price-input{
    font-size: 16px;
    color: #dd2222;
    font-weight: 700;
    border: none;
    display: inline-block;
}


:host ::ng-deep .p-slider .p-slider-range, :host ::ng-deep  .p-slider .p-slider-handle {
    background-color: #dd2222;
    border-color: #dd2222;
}

:host ::ng-deep .p-dataview.p-dataview-list .p-dataview-content > .p-grid > div{
    border: none;
}

::ng-deep .p-dropdown {
  width: 100% !important;
}
.dropdown-container {
  max-width: 100%; /* Đảm bảo dropdown không vượt quá chiều rộng của .col-lg-4 */
}

.dropdown-content {
  max-width: 100%; /* Giới hạn chiều rộng của dropdown content */
  overflow: auto; /* Bật thanh cuộn nếu nội dung quá dài */
}
@media (max-width: 575px) {
  .col-xs-6-custom {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
