<p-toast>
</p-toast>
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form action="#">
            <h3>ĐĂNG KÝ</h3>
            <input type="text" placeholder="Tên tài khoản" [(ngModel)]="registerForm.username" name="username" />
            <input type="email" placeholder="Email" [(ngModel)]="registerForm.email" name="email" />
            <input type="password" placeholder="Mật khẩu" [(ngModel)]="registerForm.password" name="password" />
            <button (click)="register()">Đăng Ký</button>
        </form>
    </div>


    <div class="form-container sign-in-container">
        <form action="#">
            <h3>ĐĂNG NHẬP</h3>
            <input type="text" placeholder="Tên tài khoản" [(ngModel)]="loginForm.username" name="username" />
            <input type="password" placeholder="Mật khẩu" [(ngModel)]="loginForm.password" name="password" />
            <a href="javascript:void(0)">Quên mật khẩu ?(CHƯA DEV KỊP)</a>
            <button (click)="login()">Đăng nhập</button>
        </form>
    </div>


    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h2>Đã có tài khoản</h2>
                <p>Hãy đăng nhập ngay!</p>
                <button class="ghost" id="signIn" (click)="loginFormChange()">Đăng Nhập</button>
            </div>
           <div class="overlay-panel overlay-right">
                <h2>Chưa có tài khoản</h2>
                <p>Hãy đăng ký ngay!</p>
                <button class="ghost" id="signUp" (click)="registerFormChange()">Đăng Ký</button>
            </div>
        </div>
    </div>



</div>
